*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI', sans-serif;
    background:linear-gradient(135deg,#fff1f2,#fdf2f8,#eef2ff);
    min-height:100vh;
}

/* Navbar */
header{
    background:white;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
    padding:15px 30px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h1{
    color:#e11d8a;
    font-size:28px;
}

nav button{
    padding:10px 18px;
    border:none;
    border-radius:10px;
    background:#ef4444;
    color:white;
    cursor:pointer;
    font-weight:bold;
}

/* Welcome */
.welcome{
    text-align:center;
    padding:40px 20px 20px;
}

.welcome h2{
    font-size:32px;
    color:#111827;
}

.welcome p{
    color:#6b7280;
    margin-top:8px;
}

/* SOS */
.sos-section{
    text-align:center;
    margin:25px 0;
}

.sos-btn{
    width:170px;
    height:170px;
    border:none;
    border-radius:50%;
    background:radial-gradient(circle,#ef4444,#dc2626);
    color:white;
    font-size:32px;
    font-weight:bold;
    cursor:pointer;
    box-shadow:0 15px 35px rgba(239,68,68,0.35);
    animation:pulse 1.5s infinite;
}

@keyframes pulse{
    0%{transform:scale(1);}
    50%{transform:scale(1.05);}
    100%{transform:scale(1);}
}

/* Cards */
.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
    padding:30px;
}

.card{
    background:white;
    padding:25px;
    border-radius:18px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card h3{
    color:#111827;
    margin-bottom:10px;
}

.card p{
    color:#6b7280;
}

/* Contacts + History */
.contacts-section,
.history-section{
    width:90%;
    max-width:500px;
    margin:20px auto;
    background:white;
    padding:25px;
    border-radius:18px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.contacts-section h2,
.history-section h2{
    text-align:center;
    color:#e11d8a;
    margin-bottom:15px;
}

.contacts-section input{
    width:100%;
    padding:12px;
    margin:8px 0;
    border:1px solid #ddd;
    border-radius:10px;
}

.contacts-section button{
    width:100%;
    padding:12px;
    margin-top:10px;
    border:none;
    border-radius:10px;
    background:linear-gradient(to right,#ec4899,#8b5cf6);
    color:white;
    cursor:pointer;
}

#contactList li,
#historyList li{
    list-style:none;
    background:#f9fafb;
    padding:10px;
    border-radius:10px;
    margin-top:8px;
}

/* Footer */
footer{
    text-align:center;
    padding:20px;
    color:#6b7280;
}